In [2]:
def display(** kwargs):
    print(kwargs)
    for k,v in kwargs.items():
        print(k,"=",v)
        
        
display(m1=100,m2=200,m3=300)        
display(rollno=10,name="ARMAN",subject="Python",marks=88)

{'m1': 100, 'm2': 200, 'm3': 300}
m1 = 100
m2 = 200
m3 = 300
{'rollno': 10, 'name': 'ARMAN', 'subject': 'Python', 'marks': 88}
rollno = 10
name = ARMAN
subject = Python
marks = 88

In [10]:
def display(** kwargs):
    print(kwargs)
        for k,v in kwargs.items():
              print(k,"=",v)
        
display(m1=100)        
display(rollno=10,name="ARMAN",subject="Python",marks=88)

{'m1': 100}
m1 = 100
{'rollno': 10, 'name': 'ARMAN', 'subject': 'Python', 'marks': 88}
rollno = 10
name = ARMAN
subject = Python
marks = 88

In [13]:
def outer():
    print("This is outer function")
    def inner():
        print("ThiS is inner function")
    inner()
        
outer()

This is outer function
ThiS is inner function

In [15]:
def fan1():
    a=45
    def fan2():
        a=54
        print(a)
    fan2()
    print(a)

fan1()

54
45

In [18]:
for i in range(5):
    if i==3:
        break
    print(i)
else :
    print("HELLO WORLD")

0
1
2

In [24]:
#wap to check the given number is harshad number or not
def check() :
    n=int(input("ENTER NUMBER "))
    sum=0
    temp=n
    while n!=0 :
        sum+=n%10
    
        n=n//10
    
    if temp%sum==0 :
        print("HARSHAD NUMBER")
    else :
        print("NOT")
        
check()

ENTER NUMBER 12
HARSHAD NUMBER

In [25]:
#wap that accept single int number and produceses all possible 6 digit number for which the product of the digits=entered number

n=int(input("ENTER NUMBER :"))
for i in range(111111,911111):
    prod=1
    j=i
    while j!=0 :
            prod*=j%10
            j=j//10
    if(prod==n):
        print(i)

ENTER NUMBER :5
111115
111151
111511
115111
151111
511111

In [40]:
#wap to get next day of a given date
day=int(input("ENTER DAY :"))
month=int(input("ENTER MONTH :"))
year=int(input("ENTER YEAR :"))
leap="no"
if (year%4 == 0 and year%100!=0) or (year%400==0) :
    leap="yes"

days31=[1,3,4,7,8,10,12]  
if month in days31 :
    if day==31 and month==12:
        day=1
        month=1
        year=year+1
    elif day==31:
        day=1
        month=month+1
    else :
        day+=1
    print("if")
else:
    if day==30 :
        if month==12:
            day=1
            month=1
            year+=1
        else:
            day=1
            month+=1
    elif day==29 and month==2 :
        if  leap=="yes":
            day=1
            month+=1
        else :
            day=1
            month+=1
    else:
        day+=1
    print("else")
        
print("NEXT DATE :",year,"-",month,"-",day)

ENTER DAY :31
ENTER MONTH :12
ENTER YEAR :2025
if
NEXT DATE : 1 - 1 - 2026

In [45]:
#wap to create a sequence where the four member of sequence =1 and each succesive term of 
#the sequence is equalto the sum of last four find the nth member of the sequence

n=int(input("ENTER NUMBER"))
n1=1
n2=1
n2=1
n3=1
n4=1
num=0
print(n1)
print(n2)
print(n3)
print(n4)
for i in range(n-4):
    num=n1+n2+n3+n4
    print(num)
    n1=n2
    n2=n3
    n3=n4
    n4=num
    
print("Nth",num)

ENTER NUMBER7
1
1
1
1
4
7
13
Nth 13