# Unit-3 Function and Scoping
    1) Built in function 
    2) User define function
    
    Syntax :
        def function_namr(Parameters):
            body of function
            return value

In [3]:
def wish(name):
    print('Hello',name,'Good Night')
wish('Dixit Patel')

Hello Dixit Good Night

In [4]:
wish()

TypeError: wish() missing 1 required positional argument: 'name'

##  Differernt types of UDF (user define fumction)

### 1) function with no parameter and no return type

In [9]:
def roll():
    s=int(input('Enter U r Roll no ~> '))
    print('Roll NO : ',s)
roll()

Enter U r Roll no ~> 38
Roll NO :  38

### 2) function with parameter and no return type

In [13]:
def roll2(s):
    print('Roll NO : ',s)
roll2(56)

Roll NO :  56
None

### 3) function with parameter and with return type

In [12]:
def roll3(x):
    return x

s=int(input('Enter U r Roll no ~> '))
t=roll3(s)
print(t)

Enter U r Roll no ~> 111
111

### 4) function with no parameter and with return type

In [ ]:
def roll3():
    return x

t=roll3(s)
print(t)

In [23]:
# try if possible 
print(*(i for i in range(5)))

0 1 2 3 4

In [29]:
#WAF to accept n and print i print odd number in 1 to n
def odd(n):
    print(*(i for i in range(1,n+1) if i%2!=0 ))
n=int(input("Enter last number ~>"))
odd(n)

Enter last number ~>15
1 3 5 7 9 11 13 15

### Return Statement

In [32]:
def add(x,y):
    return x+y
result=add(1,2)
print(result)
print(add(3,4))

3
7

In [38]:
def sumsub(x,y):
    return x+y , x-y
x,y=sumsub(3,7)
print('(X , Y) = ',x,y)
print("***********")
print(sumsub(10,5))

(X , Y) =  10 -4
***********
(15, 5)

## DocString

In [47]:
import math
math.sqrt(25)
#press Tab

5.0

In [48]:
def sqr(x):
    """ Argument passes into x returns squ of x """
    return x*x

t=sqr(5)
print(t)
print(sqr.__doc__)

25
 Argument passes into x returns squ of x

## * Types of Arguments

### 1) Positional argument

In [50]:
def sub(a,b):
    print(a-b)
    
sub(10,20)
sub(20,10)

-10
10

### 2) Keyword Argument

In [58]:
def wish(name,msg):
    print('Hello : ',name,"  MSG:",msg)
    
wish(name="Dixit Patel" ,msg='GM')
wish(msg='America me ',name="Bhuprndra Jogi")
wish("Kush " ,msg='Bahana 6 eto ')

Hello :  Dixit Patel   MSG: GM
Hello :  Bhuprndra Jogi   MSG: America me
Hello :  Kush    MSG: Bahana 6 eto

In [60]:
wish(name="Abcd" ,'Oyyy')

SyntaxError: positional argument follows keyword argument (<ipython-input-60-cb2e4cb521dd>, line 1)

### 3) default argumrnt

In [62]:
def wish(name='guest'):
    print(name)
    
wish('Dixit')
wish()

Dixit
guest

### 4) Variable length argument

In [69]:
def f(*n):
    total=0
    for i in n:
        total+=i
    print("total ",total)
        
f(10,20,30)
f()
f(1,2,3,4,5,6,7,8,9,10)

total  60
total  0
total  55

In [75]:
def f1(n,*s):
    print("first ",n)
    total=0
    for i in s:
        total+=i
    print("total ",total)
        
f1(10,20,30)
f1(0)
f1(1,2,3,4,5,6,7,8,9,10)

first  10
total  50
first  0
total  0
first  1
total  54

In [7]:
def display(** abc):
    for k,v in abc.items():
        print(k,'=',v)
        
display(m1=100,m2=200,m3=300)
display(rollno=56,name='Dixit Patel',sub='Python',marks=00)

m1 = 100
m2 = 200
m3 = 300
rollno = 56
name = Dixit Patel
sub = Python
marks = 0

In [11]:
def display(** abc):
    for v in abc.values():
        print('=',v)
        
display(m1=100,m2=200,m3=300)
display(rollno=56,name='Dixit Patel',sub='Python',marks=00)

= 100
= 200
= 300
= 56
= Dixit Patel
= Python
= 0

In [10]:
def display(** abc):
    for k in abc.keys():
        print(k,'=')
        
display(m1=100,m2=200,m3=300)
display(rollno=56,name='Dixit Patel',sub='Python',marks=0)

m1 =
m2 =
m3 =
rollno =
name =
sub =
marks =

## nested function

In [15]:
def outer():
    print('This is outer function')
    def inner():
        print('This is Inner function')
        
outer()
inner()

This is outer function

NameError: name 'inner' is not defined

In [18]:
def outer():
    print('This is outer function')
    def inner():
        print('This is Inner function')
    inner()
        
outer()

This is outer function
This is Inner function

In [22]:
def fan1():
    a=20
    def fan2():
        a=40
        print(a)
    fan2()
    print(a)
    
fan1()

40
20

In [24]:
for i in range (3):
    print(i)
else:
    print("hello worlds")

0
1
2
hello worlds

In [25]:
for i in range (5):
    if i==3 :
        break
    print(i)
else:
    print("hello worlds")

0
1
2

In [6]:
#WAP to check a given number Harshad Number
def harshad(num):
    n=num
    sum=0
    while n!=0 :
        sum=sum+(n%10)
        n=n//10
        
    if num%sum==0:
        print('Harshad number',num)
    else :
        print('Not a Harshad number',num)
harshad(35)

Not a Harshad number 35

In [34]:
harshad(12)

Harshad number 12

In [1]:
#WAP that accept a single digit int number and produces all posible 6 digit number for which the product of their digit is equal to the enter number
def number(n):
    for i in range(111111,911111) :
        temp=1
        p=1
        j=i
        while j!=0:
            p*=j%10
            j//=10
            
        if(p==n):
            print(i)
            
number(2)

111112
111121
111211
112111
121111
211111

In [18]:
#WAP to get next day of a given date
year=int(input('Enter Year ~> '))
month=int(input('Enter Month ~> '))
day=int(input('Enter Day ~> '))

if (year%4==0 and year%100!=0) or (year%400==0):
    leap=True
else:
    leap=False
    
if month in (1,3,5,7,8,10,12) :
    monthlength=31
elif month==2:
    if leap :
        monthlength=29
    else :
        monthlength=28
else:
    monthlength=30
    
if monthlength>day:
    day+=1
else:
    day=1
    month+=1
    
    if month==12 and day==31:
        month=1
        year+=1
 
    
print(day,"-",month,"-",year+1)

Enter Year ~> 2025
Enter Month ~> 12
Enter Day ~> 1
2 - 12 - 2026

In [10]:
#Ai generated
def get_next_day(year, month, day):
    days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        days_in_month[2] = 29

    next_day = day + 1
    next_month = month
    next_year = year

    # Check if day rolls over to the next month
    if next_day > days_in_month[month]:
        next_day = 1
        next_month = month + 1

        # Check if month rolls over to the next year
        if next_month > 12:
            next_month = 1
            next_year = year + 1

    return next_year, next_month, next_day

get_next_day(year=2025, month=11, day=45)

(2025, 12, 1)

In [30]:
#WAP to create sequence where the four members of the sequence are equal to 1 and each succesive term of the sequence is equal to the sum of the 4 previous one find the n th member of the sequence
n=int(input('Enter Number ~> '))
a=1
b=1
c=1
d=1
print(a)
print(a)
print(a)
print(a)
for i in range(4,n):
    e=a+b+c+d
    print(e)
    a=b
    b=c
    c=d
    d=e
print("Ans :",e)

Enter Number ~> 15
1
1
1
1
4
7
13
25
49
94
181
349
673
1297
2500
Ans : 2500